<div class="class">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div ng-app="myApp">
    <div *ngIf="lancamentosFixos.length > 0; else noLancamentos"  ng-controller="myController">
                <table class="table table-striped">   
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Dia do Mês</th>
                          <th scope="col">Valor</th>
                          <th scope="col">Descrição</th>
                          <th scope="col">Status</th>
                          <th scope="col">Ações</th>
                      </thead>   
                      <tbody>            
                        <tr *ngFor="let lancamentoFixo of lancamentosFixos" class="linha-verde">
                            <td>{{lancamentoFixo.diaMes}}</td>
                            <td>{{ lancamentoFixo.valor | formatValor }}</td>
                            <td>{{lancamentoFixo.descricao}}</td>   
                            <td>{{lancamentoFixo.status}}</td>                        
                            <td>
                                <div class="btn-group">
                                    <button routerLink="/lancamento-fixo/edit/{{lancamentoFixo.id}}" type="button" class="btn btn-secondary glyphicon glyphicon-pencil"></button>
                                    <button routerLink="/lancamento-fixo/excluir/{{lancamentoFixo.id}}" type="button" class="btn btn-danger glyphicon glyphicon-trash"></button>
                                </div>
                            </td>
                        </tr>  
                    </tbody>                   
                </table>
    </div>
    <ng-template #noLancamentos>
        <h1>Não exitem registros cadastrados :P</h1>
    </ng-template>

    <button mat-fab color="primary" class="fab" routerLink="/lancamento-fixo/novo/">
        <mat-icon>add</mat-icon>
      </button>

</div>
</div>