form {
    width: 100%;
    max-width: 500px; /* Limita a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na tela */
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o preenchimento esteja incluído na largura total */
    resize: vertical;
}

.validation-error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #218838;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 600px) {
    form {
        padding: 10px;
    }
}
