<div *ngIf="temperatura">
    <p>Temperatura: {{ temperatura.at(-1) }}°C&nbsp;
        <span *ngIf="temperatura.at(-1) < 19"> ❄️</span>
        <span *ngIf="temperatura.at(-1) >= 19 && temperatura.at(-1) < 25"> 😊</span>
        <span *ngIf="temperatura.at(-1) >= 25 && temperatura.at(-1) < 35"> ☀️</span>
        <span *ngIf="temperatura.at(-1) >= 35"> 🔥</span>
    </p>
    <p>Umidade do ar: {{ umidade.at(-1) }}%&nbsp;
        <span *ngIf="umidade.at(-1) > 80"> 😞</span>
        <span *ngIf="umidade.at(-1) <= 80"> 😊</span>
    </p>
    <p>Umidade do Solo: {{ umidadeSolo.at(-1) }}%&nbsp;
        <span *ngIf="umidadeSolo.at(-1) < 40"> 😞</span>
        <span *ngIf="umidadeSolo.at(-1) >= 40"> 😊</span>
    </p>
    <p>Data Hora: {{ dataHoraCabecalho.at(-1) | date: 'dd/MM/yyyy HH:mm' }}</p>
</div>
<br>
<br>
<div class="chart-wrapper">
    <div class="chart-container">
        <!--<canvas id="graficoTemperatura">{{ chartTemperatura }}</canvas>-->
        <canvas id="graficoUmidade">{{ chartUmidade }}</canvas>
    </div>
</div>
<!--<div class="chart-wrapper">
    <div class="chart-container">
        <canvas id="graficoUmidadeSolo">{{ chartUmidadeSolo }}</canvas>
    </div>
</div>-->
