<div *ngIf="temperatura">
    <p>Temperatura: {{temperatura.at(-1)}}</p>
    <p>Umidade: {{umidade.at(-1)}}</p>
    <p>Data Hora: {{dataHoraCabecalho.at(-1) | date: "dd/MM/yyyy HH:mm"}}</p>
</div>
<br>
<br>
<div class="chart-wrapper">
    <div class="chart-container">
        <canvas  id="graficoTemperatura" >{{ chartTemperatura }}</canvas>
    </div>
</div>
<div class="chart-wrapper">
    <div class="chart-container">
        <canvas  id="graficoUmidade" >{{ chartUmidade }}</canvas>  
    </div>
</div>
