.chart-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.chart-container-gcc {
    width: 1000px;
}

.chart-container-gmcc {
    width: 1500px;
}

canvas {
    width: 100%;
    height: auto;
}

th {
    font-family: Arial, sans-serif;
    font-size: 11px;
    background-color: #302f2f;
}

td {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #616161;
}

.botao-editar {
    background-color: #e7e7fd;
}

.botao-remover {
    background-color: #fda6a6;
}

/*
Gráfico Calendário
*/

.nome-grafico{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center; 
    margin-block-end: 10px;   
}
.grafico-calendario {
    display: block;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;    
    border: 1px solid;
    border-color: #c7c7c7;
    border-radius: 8px;
}

.calendario-linha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.quadrante {
    display: block;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border: 1px solid;
    border-color: #ececec;
    border-radius: 8px;
}

.legenda{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    gap: 2px;
}