.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    background-color: #faf9f9;
    height: 320px;
    border-width: 1px;
    border-style: solid;
    border-color: #969696;
    border-radius: 8px;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
    text-align: left;
    min-width: 270px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* Mensagem de erro */
small {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    display: block;
}

/* Botão de login */
button {
    background-color: #28a745;
    width: 100%;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 600px) {
    .container-login {
        padding: 15px;
    }

    label, input, button {
        font-size: 1em;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /*Loading*/
  .spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #ccc;
  border-top: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
  margin-right: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
