/* Reset básico */
html, body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    height: 100%;  /* Garantir que o body ocupe toda a altura */
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Título */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilização dos campos do formulário */
.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* Mensagem de erro */
small {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
    display: block;
}

/* Botão de login */
button {
    background-color: #28a745;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    label, input, button {
        font-size: 1em;
    }
}
