  /* Ajuste do conteúdo da página */
  .content-container {
    width: 100%; /* O conteúdo ocupa 80% da largura disponível */
    margin: 0 auto; /* Centraliza o conteúdo dentro do limite */
    padding: 20px; /* Adiciona espaçamento interno */
    background-color: white;
  }
  
  /* Estilo para o menu lateral */
  mat-sidenav {
    background-color: rgb(235, 235, 235);
    padding: 10px;
  }
  
  /* Estilo das opções do menu */
  mat-nav-list {
    display: flex;
    flex-direction: column;
  }
  
  mat-nav-list a {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  mat-nav-list a:hover {
    background-color: #e0e0e0;
  }

  mat-list-item {
    display: flex;
    align-items: center; /* Alinha ícone e texto na mesma linha */
    gap: 10px; /* Espaçamento entre ícone e texto */
  }
  
  mat-icon {
    font-size: 24px; /* Garante um tamanho adequado para o ícone */
    vertical-align: middle; /* Mantém o alinhamento correto */
  }
  
  /* Ajuste para os itens do menu ao serem selecionados */
  .selected {
    background-color: #c7c7c7; /* Cor de fundo ao selecionar */
  }
  
  @media (max-width: 768px) {
    /* Para telas menores, os itens do menu se tornam mais compactos */
    .content-container {
      width: 90%; /* Ajuste a largura do conteúdo para ocupar mais espaço em telas pequenas */
      padding: 10px;
    }

  }

  button:focus {
    outline: none; /* Remove o contorno ao focar */
}

button {
    border: none; /* Remove qualquer borda */
    background: none; /* Remove o fundo padrão */
    cursor: pointer; /* Garante que o cursor fique como um botão */
}

  