<mat-toolbar *ngIf="showHeaderFooter" mat-icon-button (click)="sidenav.toggle()" color="primary">
  <!-- Botão Hambúrguer (só aparece se NÃO estiver na tela de login) -->
  <button >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gestão Financeira</span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Menu Lateral -->
  <mat-sidenav #sidenav mode="over" (click)="sidenav.close()">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="selectOption()">
        <mat-icon>list</mat-icon>
        Lançamentos
      </a>
      <a mat-list-item routerLink="/graficos" (click)="selectOption()">
        <mat-icon>bar_chart</mat-icon>
        Gráficos
      </a>
      <!--<a mat-list-item routerLink="/centro-custo" (click)="selectOption()">
        <mat-icon>account_balance_wallet</mat-icon>
        Centro de Custo
      </a>-->
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo da Página -->
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

