.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.date-container,
.checkbox-columns {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.date-picker {
  margin-bottom: 10px;
}

.checkbox-columns {
  display: flex;
  flex-direction: column;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.checkbox-item {
  margin-bottom: 10px;
}

#status {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
}

/* Estilos Responsivos */
@media (min-width: 600px) {
  .container {
    flex-wrap: nowrap;
  }

  .date-container {
    width: 45%;
    flex-direction: column;
  }

  .checkbox-columns {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
  }

  .checkbox-column {
    width: 45%;
  }
}
