.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinha os itens ao topo */
}

.date-container {
  width: 45%; /* Define a largura para os campos de data */
  display: flex;
  flex-direction: column;
}

.date-picker {
  margin-bottom: 10px;
}

.checkbox-columns {
  width: 50%; /* Define a largura para as colunas de checkboxes */
  display: flex;
  justify-content: space-between; /* Espaçamento entre as colunas */
}

.checkbox-column {
  width: 45%; /* Largura de cada coluna de checkbox */
  display: flex;
  flex-direction: column;
}

.checkbox-item {
  margin-bottom: 10px;
}
