.cards-container {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    flex-wrap: wrap; /* pra quebrar em telas pequenas */
    margin: 1px 0;
  }
  
  .quadrante {
    flex: 1 1 calc(33.333% - 16px); /* divide em 3 colunas com espaçamento */
    min-width: 20px;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    background-color: rgb(243, 243, 243);    
  }

  .label-titulo{
    color: #2e2e2e;
    font-family: Arial, sans-serif;
  }

  .label-resultado{
    color: #2e2e2e;
    font-family: Arial, sans-serif;
  }
  