<div class="cards-container" *ngIf="saldo">
  <mat-card class="quadrante">
    <mat-card-title class="label-titulo">Saldo</mat-card-title>
    <mat-card-content class="label-resultado">{{ saldo.saldo | formatValor }}</mat-card-content>
  </mat-card>

  <mat-card class="quadrante">
    <mat-card-title class="label-titulo">Investimento Fixo</mat-card-title>
    <mat-card-content class="label-resultado">{{ saldo.investimentoFixo | formatValor }}</mat-card-content>
  </mat-card>

  <mat-card class="quadrante">
    <mat-card-title class="label-titulo">Investimento Variável</mat-card-title>
    <mat-card-content class="label-resultado">{{ saldo.investimentoVariavel | formatValor }}</mat-card-content>
  </mat-card>

  <mat-card class="quadrante-saldo-filtro">
    <mat-card-title class="label-titulo">Valor do filtro</mat-card-title>
    <mat-card-content class="label-resultado">{{ saldoValoresSelecionados | formatValor }}</mat-card-content>
  </mat-card>
</div>