.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-superior {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.container-inferior{
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.quadrantes {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 8px;
  background-color: #E6E7EB;
  padding: 10px;
}

.quadrante-saldo-filtro {
  display: grid;
  width: 100%;
  height: 60px;
  justify-content: center;
  border-radius: 8px;
  background-color: #E6E7EB;
  padding: 10px;
}

.quadrantes p,
.quadrantes strong,
.quadrante-saldo-filtro p,
.quadrante-saldo-filtro strong {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  line-height: 1;
}

.titulo {
  font-size: 14px;
}

.resultado {
  font-size: 15px;
}

.quadrante-grafico {
  background-color: rgba(215, 216, 220, 0.81);
  border-radius: 8px;
}