* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: #444;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea {
    padding: .6em;
    color: #777;
    font-size: 0.8em;
}

input[type="submit"] {
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.4s;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
